<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Markdown Editor</Name>
    <Version>1.0.3</Version>
    <Title>Markdown Editor Installer</Title>
    <Publisher>MdEditor</Publisher>
    <StartMenuDir>Markdown Editor</StartMenuDir>
    <TargetDir>@ApplicationsDir@/MarkdownEditor</TargetDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
